/* Update CSS for .cad-service-slider */
.cad-service-slider {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 30px 0;
}

/* Update CSS for .cad-service-slide-container */
.cad-service-slide-container {
    width: 575px;
    display: inline-block;
    position: relative;
}

/* Update CSS for .cad-service-slides */
.cad-service-slides {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
}

/* Update CSS for .cad-service-slides img */
.cad-service-slides img {
    width: 100%; /* Maximize image width */
    height: 400px; /* Maintain aspect ratio */
    display: block; /* Ensure image is block level */
}

/* Update CSS for .cad-service-slide-dot-control */
.cad-service-slide-dot-control {
    margin-top: 10px;
    text-align: center;
}

/* Update CSS for .cad-service-slide-dot */
.cad-service-slide-dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* Update CSS for .cad-service-slide-dot.dot-active */
.cad-service-slide-dot.dot-active {
    background-color: #717171;
}

/* Update CSS for .cad-service-navigation */
.cad-service-navigation {
    position: relative;
    width: 100%; /* Use 100% width for full responsiveness */
    display: flex;
    justify-content: space-around;
    align-items: center; /* Center vertically */
}

/* Update CSS for .cad-service-navigation button */
.cad-service-navigation button {
    background: rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    transition: background 0.3s ease;
    text-align: center;
    border-radius: 50%;
}

/* Update CSS for .cad-service-navigation button:hover */
.cad-service-navigation button:hover {
    background: rgba(255, 255, 255, 0.8);
}
