/* ContactForm.css */
.contact-form {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 0 0 0;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    align-content: center;
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 60px;
  }
  
  .contact-form input[type="submit"] {
    background-color: #004c97;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #02367a;
  }
  
  .error-message {
    color: red;
    font-size: 10px;
    margin-top: 5px;
  }
  .container{
    margin: 0;
    margin-bottom: 40px;
  }
  .contact-header{display: flex;width:100%; text-align: center;align-items: center; justify-content: center;}
  .sub-container{
    background-color: #02367a;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width:80%;
    border-radius: 8px;
  }
  form>h2{
    font-size: 20px;
  }
.company-info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    color: white;
}