/* General styles */
.mld-heading-1 {
    margin: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent; /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    font-size: 50px;
    text-align: center;
}

.mld-top-banner {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 300px;
    background-color: rgb(82, 218, 252);
    align-items: center;
    align-content: center;
    text-align: center;
}

.mld-image {
    display: block;
    width: 100%;
    height: 300px;
}

/* Mold Design specific styles */
.mld-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
}

.mld-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mld-description {
    margin-bottom: 20px;
}

.mld-description p {
    margin-bottom: 10px;
}

.mld-services {
    font-weight: bold;
}

.mld-list {
    margin-bottom: 20px;
}

.mld-list-item {
    margin-bottom: 10px;
}

.mld-footer {
    margin-top: 20px;
}
