/* Navbar styles */
.navbar {
	height: 75px;
	background-color: rgb(255, 255, 255);
	border: 1px solid transparent;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px; /* Adjust padding as needed */
  }
  
  .navbar-logo {
	align-self: center; /* Center logo vertically */
  }
  
  .navbar-menu {
	display: flex;
	align-items: center; /* Center menu items vertically */
  }
  
  .menu-button {
	padding: 10px;
	text-decoration: none;
	color: #1b4d92;
  }
  
  .menu-toggle {
	display: none; /* Initially hide on larger screens */
	background: none;
	border: none;
	cursor: pointer;
	color: #1b4d92; /* Adjust color to match your design */
	font-size: 1.2rem;
  }
  
  .menu-toggle i {
	margin-left: 5px;
  }
  
  .menu-bars {
	width: 30px;
	height: 5px;
	background-color: #1b4d92;
	margin: 2.5px 0;
  }
  
  .menu-dropdown {
	position: relative;
	margin-right: 10px;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
	z-index: 1001;
	width: 200px; /* Adjust width as needed */
	left: 0;
	top: 100%;
  }
  
  .menu-dropdown.show .dropdown-content {
	display: block;
  }
  
  .menu-dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown-item {
	padding: 10px;
	text-decoration: none;
	color: #1b4d92;
	display: block;
  }
  
  /* Show menu items on smaller screens */
  @media screen and (max-width: 768px) {
	.navbar-menu {
	  display: none; /* Hide menu items by default */
	  position: absolute;
	  top: 75px; /* Adjust as per your design */
	  right: 10px; /* Adjust as per your design */
	  background-color: #fff;
	  border: 1px solid #ccc;
	  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	  flex-direction: column;
	  z-index: 1000;
	  width: 200px; /* Adjust width as needed */
	}
  
	.navbar-menu.show {
	  display: flex;
	}
  
	.menu-toggle {
	  display: flex; /* Show toggle button on smaller screens */
	  flex-direction: column;
	  align-items: center; /* Center vertically */
	}
  
	.menu-dropdown {
	  margin-bottom: 5px; /* Adjust margin between dropdowns */
	}
  
	.menu-button {
	  padding: 12px 16px; /* Adjust padding for better touch target */
	}
  }
  